<form action="sendAddress" class="form">
  <div class="row">
    <div class="col-lg-6">
      <div class="fieldset">
        <p class="fieldset-legend">Votre identité</p>
        <div class="form-group">
          <p>Prénom</p>
          <input type="text" id="firstinput" aria-label="Prénom">
          </p>
        </div>
        <div class="form-group">
          <p>Nom</p>
          <input type="text" aria-label="Nom">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fieldset">
        <p class="fieldset-legend">Vos coordonnées</p>
        <div class="form-group">
          <p>Rue</p>
          <input type="text" aria-label="Rue">
        </div>
        <div class="form-group">
          <p>Code postal</p>
          <input type="text" aria-label="Code postal">
        </div>
        <div class="form-group">
          <p>Ville</p>
          <input type="text" aria-label="Ville">
        </div>
        <div class="form-group">
          <p>Pays</p>
          <input type="text" aria-label="Pays">
        </div>
      </div>
    </div>

  </div>

  <input type="submit" value="Entrer" id="lastinput" aria-label="Envoyer formulaire">
</form>